<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
			xsi:schemaLocation="http://www.springframework.org/schema/beans
			http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
			<!-- 스프링프레임워크의 datasource.simpleDriverDtaSource를 클래스로 지정하고  그 메소드를 dataSource로 정한다.
			그 밑의 simpleDriverDataSource의 필드변수들을 value를 써서 값을 넣는다.-->
			<bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
			<property name="driverClass" value="com.mysql.cj.jdbc.Driver"/>
			<property name="url" value="jdbc:mysql://localhost:3306/my_database?serverTimezone=Asia/Seoul"/>
			<property name="username" value="root"/>
			<property name="password" value="gkswn1"/>
			</bean>
			<!-- UserDao클래스에 있는 userDao객체를 dataSource수정자로 가져온다. -->
			<bean id="userDao" class="spring.user.dao.UserDao">
			<property name="dataSource" ref="dataSource"/>
			
			
			</bean>
			</beans>